<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Assignment1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECC4DED41E517B4300FD2E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECC4DEF11E517B4500FD2E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECC4DEFC1E517B4500FD2E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
